*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    /* background-color: bisque; */
    margin: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    grid-template-rows:60px 600px 60px ;
    text-align: center; 
    

}
#c1{background-color: aqua; grid-column: 1/-1;}
#c2{background-color: brown; grid-row: 2/4;}
#c3{background-color:red;
     grid-column: 2/5;
     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 1fr 1fr;
     gap: 5px;
     border: 5px solid white;
     

}
#c4{background-color: powderblue; grid-column: 5/6; grid-row: 2/4;}
#c5{background-color: blueviolet; grid-column: 2/5;}
#s1{background-color: black; color: white;}
#s2{background-color: purple}
#s3{background-color: blue;}
